:root {
    --colorprimary: #6609c9;
    --colorsecundary1: #0acb62;
    --colorsecundary2: #865c77;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('./fonts/Roboto-Black.ttf');
}

body {
    font-family: 'Roboto'!important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto-Black'!important;
}

.text-logo{
    font-size: 1.5rem!important;
    font-weight: normal!important;
}
.nav-link.active {
    background: var(--colorprimary);
    color: #ffffff!important;
}

.nav-link:hover {
    background: var(--colorsecundary1);
    color: #ffffff!important;
}

.background-menu {
    background: #ffffff;
    transition: .5s;
}

.text-home-1 {
    text-align: center;
    font-size: 43px;
}

.text-home-2 {
    text-align: center;
    margin-top: 76px;
}
.text-home-3 {
    text-align: center;
    color: var(--colorprimary);
}
.text-home-4 {
    text-align: center;
    margin-top: 76px;
    font-size: 18px;
}

.text-home-5 {
    text-align: center;
    margin-top: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.text-home-6 {
    padding: 20px;
    background-color: var(--colorprimary);
    color: #ffffff;
}

.text-home-7 {
    background: var(--colorprimary);
    color: #fff;
    padding: 15px;
}

.text-home-7 a {
    color: #fff;
}

.text-home-7 h3 {
    font-size: 2.5rem;
}
.text-home-7-p-i {
    font-size: 6rem;
    color: var(--colorsecundary1);
}

.h1-home{
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.h1-home span{
    font-size: 18px;
    font-weight: normal;
    font-family: Roboto;
}

.h1-section{
    font-size: 1.40rem;
}

.h1-section span{
    font-size: 18rem;
    font-weight: normal;
    font-family: Roboto;
}

.div-icon {
    z-index: 999;
}

.div-nota {
    text-align: center;
    position: relative;
}

.text-buscador {
    background: var(--colorprimary);
    color: #fff;
}

.maxheight {
    max-height: 300px;
}

.text-buscador h3 {
    font-size: 1.6rem;
}

.text-buscador-p-i {
    font-size: 3.5rem;
    color: var(--colorsecundary1);
}

.text-buscador-p p {
    font-size: 16px;
}

.img-widget-buscador {
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.widget-buscador {
    background: var(--colorsecundary1);
    color: #000;
    padding: 45px 20px 20px 20px;
    text-align: center;
    max-height: 449px;
    height: 100%;
}

.background-widget-post-buscador {
    background: #000;
    padding: 20px;
    color: #ffffff;
}

.mas-info{
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.btn-block {
    display: block!important;
}

.content-gradient {
    background: rgb(10,203,98);
    background: linear-gradient(180deg, rgba(10,203,98,1) 63%, rgba(255,255,255,1) 99%);
}

.content-black {
    background: #000;
}

.button-black {
    background: #000000;
    color: #ffffff!important;
    border: 5px solid #000000!important;
    border-color:  #000000!important;
    border-radius: unset!important;
}

.button-black:hover {
    background: #000000;
    color: #ffffff!important;
}

.button-white {
    background: #ffffff;
    color: var(--colorsecundary1)!important;
    border: 5px solid #ffffff!important;
    border-color:  #ffffff!important;
    border-radius: unset!important;
    margin-top: 95px;
}

.button-white:hover {
    background: #ffffff;
    color: var(--colorsecundary1)!important;
}

.button-click{
    background: var(--colorsecundary1)!important;
    color: #ffffff!important;
    border-color: var(--colorsecundary1)!important;
    border-radius: unset!important;
}

.background-footer {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.item-menu-footer {
    color: #000000!important;
}

.border-item-menu-footer {
    color: var(--colorsecundary1);
    font-weight: bold;
}

.text-email-footer {
    padding-bottom: 30px;
}

.text-email-footer a{
    text-decoration: none;
    color: #000000;
}

.text-email-footer a i {
    color: var(--colorsecundary1);
}

.img-logo-footer img {
    max-width: 300px;
}

.color-text-black{
    color: #000000;
    border-left: 5px solid var(--colorsecundary1);
    padding-left: 15px;
}

.color-text-white {
    color: #fff;
}

.text-price-home {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}


.text-price-home .price {
    padding: 2px 14px;
    background: #fff;
    z-index: 999;
    border: 1px solid #000;
    position: relative;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
}

.text-price-home .money {
    padding: 2px 14px;
    background: #fff;
    z-index: 9;
    border: 1px solid #000;
    position: relative;
    right: 8px;
    bottom: -15px;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
}

.text-price-home .mes {
    padding: 2px 10px;
    background: #fff;
    z-index: 999;
    border: 1px solid #000;
    position: relative;
    right: 16px;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
}

.color-text-primary{
    color: var(--colorsecundary1);
}

.color-text-secundary1{
    color: var(--colorsecundary1);
}

.icon-home {
    max-width: 50px;
    margin-bottom: 10px
}

.height-block-icon-home-black {
    height: 250px;
    background: #000;
    color: #fff;
    padding: 15px 20px;
}

.height-block-icon-home{
    height: 250px;
}

.img-icon {
    width: 80px;
    height: 80px;
}

.img-icon-void {
    background-color: #cccccc;
    width: 80px;
    height: 80px;
}

.img-letter-position {
    width: 100%;
    height: 150px
}

.img-letter-position-void {
    background-color: #cccccc;
    width: 100%;
    height: 150px
}

.custom-tooltip {
    --bs-tooltip-bg: var(--colorprimary)!important;
    font-size: 15px!important;
}

.dropdown-icon {
    transition: all .2s ease-in-out;
}
.dropdown-icon:hover {
    transform: scale(1.1);
}

.dropdown-icon .dropdown-toggle::after {
    vertical-align: 0;
    display: none!important;
}

.dropdown-icon >.dropdown-menu {
    background-color: var(--colorprimary);
    color: #ffffff;
    border-radius: revert;
    padding: 10px;
}
.dropdown-icon:hover>.dropdown-menu {
    display: block;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(86.4px, 0px, 0px);
}

.dropend>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.link-web-site {
    text-decoration: none;
    color: #ffffff;
}

/*-------------------------------------------------*/
/* ALL LISTING - LISTING QUICK VIEW
/*-------------------------------------------------*/
.list-qview{
    position: fixed;
    right: -400px;
    width: 350px;
    height: 100%;
    top: 40px;
    z-index: 33;
    background: #fff;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
}
.list-qview .eve-box{
    border:0px;
}

.eve-box {
    padding: 0;
    overflow: hidden;
    border: 1px solid #efefef;
    margin: 10px 15px;
    padding-top: 52px;
}

.eve-box, .eve-box-list {
    background: #fff;
    box-shadow: 0 0 9px -7px rgb(150 150 150 / 78%);
    position: relative;
}

.list-qview.qview-show{
    transition: all 0.5s ease-in-out;
    right: 0%;
    box-shadow: -22px 0px 73px -22px rgba(42, 42, 42, 0.48);
}

.eve-box div:first-child img {
    width: 100%;
    float: left;
    object-fit: cover;
    height: 250px;
    transition: .5s;
    cursor: pointer;
}

.data-list-qview {
    padding: 10px;
    padding-top: 60px;
}

.list-qview .clo-list {
    cursor: pointer;
    background: #0000003d;
    padding: 6px 10px 2px 10px;
    border-radius: 2px;
    position: absolute;
    left: 0;
}

.list-qview .clo-list i {
    color: #ffffff;
    font-size: 24px;
}

.datos-bussiness i {
    color: #999999;
}

.com.abo {
    margin-bottom: 50px;
}

.datos-bussiness span {
    margin-left: 15px;
}

.datos-bussiness a {
   color: #000000;
}

.datos-bussiness a:hover {
    color: #000000;
    text-decoration: none;
}

.menu-header {
    top: 126%!important;
    left: -451px!important;
    border-radius: unset!important;
    border: unset!important;
    background-color: var(--colorprimary)!important;
}

.menu-header.show {
    display: inline-flex!important;
}

.menu-header-item {
    display: inline-block!important;
}

.menu-header-item {
    color: #ffffff!important;
}

.menu-header-item:hover {
    color: #ffffff!important;
    background-color: var(--colorprimary)!important;
}

.menu-header-item:active {
    color: #ffffff!important;
    background-color: var(--colorprimary)!important;
}

.dropdown-toggle::after {
    display: none!important;
}

.toggle-custom-menu::after {
    display: inline-block !important;
    margin-left: -0.745em !important;
    margin-top: 32px !important;
    color: var(--colorprimary);
    font-size: 50px;
    position: absolute;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.title-blog {
    font-size: 3rem;
    padding-bottom: 20px;
}

.title-category-blog {
    font-size: 2.5rem;
}

.bg-overlay,
.bg-overlay-bg,
.bg-overlay-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-overlay [data-hover-animate]:not(.animated) {
    opacity: 0;
}

.bg-overlay {
    display: none;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
}

.bg-overlay-content {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 20px;
}

.bg-overlay-bg {
    background-color: rgba(255,255,255,0.85);
}

.dark .bg-overlay-bg,
.bg-overlay-bg.dark {
    background-color: rgba(0,0,0,0.5);
}

.text-overlay-mask {
    opacity: 0.85;
    top: auto;
    bottom: 0;
    height: auto;
    padding: 40px 15px 15px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.overlay-trigger-icon {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 0.25rem;
    font-size: 1.125rem;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    transition: all .3s ease;
}

.overlay-trigger-icon .icon-line-play {
    position: relative;
    left: 2px;
}

.overlay-trigger-icon.size-sm {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 0.5rem;
    font-size: 0.875rem;
}

.overlay-trigger-icon.size-lg {
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.bg-overlay [data-hover-animate]:not(.animated) {
    opacity: 0;
}
.dark .bg-overlay-bg, .bg-overlay-bg.dark {
    background-color: rgba(0,0,0,0.5);
}
.not-animated, [data-animate]:not(.animated) {
    opacity: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.title-card-blog{
   font-size: 1.25rem;
}

.title-card-blog a{
    text-decoration: none;
    color: inherit;
}

.title-card-blog-black {
    color: #000 !important;
}

.title-card-blog-white:hover {
    color: white !important;
}

.title-card-blog a:hover{
    text-decoration: none;
    color: inherit;
}

.title-post {
    color: #ffffff;
    border-bottom: 5px solid var(--colorprimary);
    padding-bottom: 20px;
    font-size: 3rem;
    text-align: center;
}

.contact-data {
    border-top: 5px solid var(--colorsecundary1)!important;
}

.contact-data .card-header{
    background-color: transparent!important;
}

.input-contact {
    border: none!important;
    border-color: transparent!important;
    border-radius: unset!important;
}

input.input-contact:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    border-bottom: 5px solid var(--colorsecundary2)!important;
}

textarea.input-contact:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    border-bottom: 5px solid var(--colorsecundary2)!important;
}

.pro-bot-shar{
    float: left;
    width: 100%;
    border-top: 1px solid #efd0d0;
    padding-top: 45px;
    margin-top: 50px;
}
.pro-bot-shar h4{
    font-size: 20px;
    padding: 0px 15px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}
.pro-bot-shar ul{
    margin: 0 auto;
    display: table;
}
.pro-bot-shar ul li{
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    list-style-type: none;
}
.sh-pro-face{
    background: #3b5998;
}
.sh-pro-shar{
    color: #fff;
    border-radius: 50px;
    /* padding: 8px 20px;
     */
}
.sh-pro-shar a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 20px;
    display: inline-block;
    text-decoration: none;
}
.sh-pro-shar a img{
    margin-right: 8px;
}
.sh-pro-twi{
    background: #55acee;
}
.sh-pro-link{
    background: #0e76a8;
}
.sh-pro-what{
    background: #55cd6c;
}

@media (max-width: 1024px) {
    .widget-buscador {
        height: 100%;
        margin-bottom: 15px;
        max-height: 100%;
    }
}

@media (max-width: 992px) {
    .menu-header.show {
        display: block!important;
    }

    .menu-header {
        margin-top: 14px!important;
    }

    .nav-link {
        padding-left: 10px!important;
    }

    .margin-left-icon {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-icon>.dropdown-menu{
        display: none!important;
    }
    .img-logo-footer img {
        max-width: 100%;
    }

    .width-block-icon-home-black {
        height: 290px!important;
    }
}

@media (max-width: 762px) {
    .height-block-icon-home {
        height: auto;
    }

    .width-block-icon-home-black {
        height: 250px!important;
    }

    .text-home-5{
        width: 95%;
        left: 10px;
    }
}


@media (max-width: 425px) {
    .text-logo span{
        display: none;
    }
}

@media (max-width: 375px) {
    .link-icon {
        margin-left: 0px!important;
    }
    .img-icon-void {
        margin-left: 0px!important;
    }
}

@media (min-width: 992px) {
    .width-block-icon-home-black {
        width: 450px;
    }
    .margin-left-icon {
        margin-left: 100px;
    }
}

@media (min-width: 1024px) {
    .margin-left-icon {
        margin-left: 100px;
    }
}

@media (max-width: 1200px) {

    .div-nota img {
        max-width: 50%;
        margin-bottom: 100px;
    }
}

@media (min-width: 1200px) {
    .margin-left-icon {
        margin-left: -16px;
        margin-right: 6px;
    }
    .div-nota img {
        max-width: 90%;
        margin-bottom: 0px;
        z-index: -1;
    }
    .text-home-5 {
        width: 95%;
    }
}


